<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Flashcards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        button {
            font-size: 150%;
            padding: 15px;
        }
        div {
            text-align: center;
        }
    </style>
    <script>
        function btnClick(element, isRight) {
            if (isRight) {
                element.style.color = 'green';
                setTimeout(function() { window.location.reload(); }, 1000)
            } else {
                element.style.color = 'red';
                element.textContent = element.textContent + " - " + element.title
            }
        }
    </script>
</head>
<body>
<div>
    <h1 th:text="${question.word}"/>
    <tr th:each="answer: ${question.answersList}">
        <p/>
        <button th:text="${answer.word}"
                th:onClick="btnClick(this, [[${answer.isRight}]])"
                th:title="${answer.translate}"
        />
    </tr>
</div>
</body>
</html>