<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Quiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        button {
            font-size: 150%;
            padding: 15px;
        }
        div {
            text-align: center;
        }
        a {
            margin: 10px;
        }
    </style>
    <script>
        function btnClick(btn, answer) {
            if (answer.isRight) {
                btn.style.color = 'green';
                setTimeout(function() { window.location.reload(); }, 1000);
            } else {
                btn.style.color = 'red';
                btn.textContent = btn.textContent + " - " + btn.title;
                btn.disabled = true;
                fetch('http://localhost:8080/error?word=' + answer.word)
            }
        }
    </script>
</head>
<body>
<a href="/quiz">Quiz</a>
<a href="/words">Words</a>
<a href="/type-srb-ru">Type Srb -> Ru</a>
<a href="/type-ru-srb">Type Ru -> Srb</a>
<div>
    <h1 th:text="${question.word}"/>
    <tr th:each="answer: ${question.answersList}">
        <p/>
        <button th:text="${answer.word}"
                th:onClick="btnClick(this, [[${answer}]])"
                th:title="${answer.translate}"
        />
    </tr>
</div>
</body>
</html>