<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Words</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        a {
            margin: 10px;
        }
    </style>
</head>
<body>
<a href="/quiz">Quiz</a>
<a href="/words">Words</a>
<a href="/type-srb-ru">Type Srb -> Ru</a>
<a href="/type-ru-srb">Type Ru -> Srb</a>
<tr th:each="line: ${allWords}">
    <div th:if="${line != ''}" th:text="${line}"></div>
    <p th:unless="${line != ''}"></p>
</tr>
</body>
</html>